
body {
  font-family: 'Source Code Pro';
}

/* Style the header */
.header {
  background-color: #208ac7;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: rgb(105, 7, 218);
}

/* Container for flexboxes */
.row {
  display: -webkit-flex;
  display: flex;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}


.select{
  width: 200px;
  margin: 20px;
  margin-left: 30%;
}

.solution{
  margin: auto;
  margin-left: 30%;
}