
body {
  font-family: 'Source Code Pro';
}

.header {
  background-color: #208ac7;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: rgb(255, 255, 255);
}

.row {
  display: -webkit-flex;
  display: flex;
  text-align: center;
}


.select{
  width: 200px;
  margin: 20px;
  margin-left: 30%;
}

.solution p{
  text-align: center;
}